@CHARSET "UTF-8";

#envoltura{
	width: 960px; /*ancho de pagina*/
	margin: 15px auto; /*margenes 15px arriba y lo demas auto (0px)*/
	text-align: left;
}

#cabecera{
	background: #c6cef2;
	border: 1px solid #999999;
	padding: 20px;
	text-align: center;
	font: bold 36px verdadna, sans-serif;
	text-shadow: rgb(150,150,150) 3px 3px 3px;
	/*transform: scale(1, -1); --> para voltear el texto*/
}

#pie{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}

.font-blue{
	background:white;
	font: bold 20px verdana, sans-serif;
}

#lateral {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: #9ad19d;
}

body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

html{
	font-size: 16px;
}

.social-bar{
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem; 
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
	
}

.icon{
	color: #fff;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-brand71{
	background: #2E406E;
}

.icon-brand268{
	background: #339DC5;
}
.icon-brand297{
	background: #E83028;
}

.icon-brand115{
	background: #3F60A5;
}


.icon:first-child{
	border-radius: 1rem 0 0 0;
}

.icon:last-chaild{
	border-radius: 0 0 0 1rem;
}

.navi{
	position: fixed;
	overflow: hidden;
	float: right;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
}
